body {
  position: relative;
}

button {
  background-color: red;
  font-size: 80px;
  color:rgb(207, 207, 41);
  border-radius: 50%;
  border:solid 3px black;
  text-align: center;
  width: 500px;
  height: 500px;
  margin-left:25%;
  cursor: pointer;
}

button:active { 
  border: solid 1px rgb(99, 99, 99);
  color:yellow;
}