body{
    text-align: center;
}
p{
    padding: 50px;
    text-align: justify;
}
table{
    margin: auto;
    font-size: 18px;
    line-height: 60px;
    font-weight: 600;
}
h3{
    text-decoration: underline;
}
.Index{
    padding: 30px;
}