.super-mario{
    width: 400px;
}
.goomba{
    width:400px;
    top:700px;
    left:10px;
    position: absolute;
    z-index: 4;
}
.bowser{
    top: 425px;
    left: 600px;
    position: absolute;  
}
.baloon{
    top: 425px;
    left: 400px;
    position: absolute;
    z-index: 1;   
}
.word{
    top: 470px;
    left: 425px;
    position: absolute;
    z-index: 2; 
    font-size: 25px;   
    }
